/* Variables CSS */
:root {
    --primary-color: #1a73e8;
    --secondary-color: #4CAF50;
    --bg-color: #ffffff;
    --text-color: #000000;
    --border-color: #dadce0;
    --box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: var(--text-color);
}

.weather-app {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: var(--bg-color);
    border: 1px solid var(--border-color);
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}

.location-input {
    width: calc(100% - 90px);
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: 5px 0 0 5px;
}

.search-button {
    width: 80px;
    padding: 10px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 0 5px 5px 0;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-button:hover {
    background-color: var(--secondary-color);
}

.weather-info {
    width: 100%;
    text-align: center;
}

.current-weather {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.temperature, .description {
    margin: 10px;
}

.icon img {
    max-width: 100px;
    max-height: 100px;
    margin-top: 10px;
}

.forecast {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.forecast-item {
    text-align: center;
    margin-top: 10px;
    flex: 0 1 calc(33.33% - 20px);
}

/* Media Queries para Responsividad */
@media (max-width: 768px) {
    .location-input {
        width: calc(100% - 70px);
    }

    .search-button {
        width: 60px;
    }

    .forecast-item {
        flex: 0 1 calc(50% - 10px);
    }
}

@media (max-width: 480px) {
    .forecast-item {
        flex: 0 1 calc(100% - 20px);
    }
}
